<style>
  :root {
    /* Primary theme color */
    --primary-color: #afe08e;
    /* Primary theme text color */
    /* --primary-text-color: #543631; */
    --primary-text-color: #000;
    --primary-text-color-over: #000;
    /* Primary theme link color */
    --primary-link-color: #1d4303;
    /* Secondary color: the background body color */
    --secondary-color: #d9f9c2;
    --secondary-text-color: #303030;
    /* Highlight text color of table of content */
    --toc-highlight-text-color: #1d4303;
    --toc-background-color: white;
    --shadow-color: #ddd;
    /* Font used for headers (h1 & h2) */
    --header-font-family: "Fira Sans", sans-serif;
    /* Font used for text */
    --text-font-family: "Fira Sans", sans-serif;
  }
</style>